/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: white;
}

/*--LAYOUT GRID--*/
.painel-grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 250px 1fr;
    /* Colunas */
    grid-template-rows: 100px 1fr;
    /* Linhas */
    grid-template-areas:
        "menu topo"
        "menu principal";
}

/* Conexão de Classes HTML no Mapa */
.barra-lateral {
    grid-area: menu;
    background-color: #1a1a2e;
    color: #a0a0a0;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 30px;
    border-right: 1px solid #2c2c44;
}

.logo h2 {
    color: #fff;
    font-size: 1.25rem;
    margin-bottom: 5px;
}

.logo span {
    font-size: 0.8rem;
    opacity: 0.7;
}

/* Estilo da Navegação */
.menu-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-nav a,
.menu-rodape a {
    text-decoration: none;
    color: #a0a0a0;
    display: block;
    padding: 12px 15px;
    border-radius: 8px;
    font-weight: 500;
    transition: all 0.3s;
}

/* Hover e Ativo */
.menu-nav a:hover,
.menu-rodape a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    padding-left: 20px;
}

.menu-nav a.ativo {
    background-color: #e94560;
    color: white;
    box-shadow: 0 4px 15px rgba(233, 69, 96, 0.3);
}

/* Rodapé do Menu */
.menu-rodape {
    margin-top: auto;
    border-top: 1px solid #2c2c44;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Conteúdo Principal */
.conteudo-principal {
    grid-area: principal;
    background-color: #ecf0f1;
    color: #333;
    padding: 20px;
    /* Adicionei um padding para o texto não colar na borda */
}

/* --- ESTILO DO CABEÇALHO --- */
.cabecalho {
    grid-area: topo;
    background-color: #16213e;
    border-bottom: 1px solid #2c2c44;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    color: white;
}

.titulo-secao h1 {
    font-size: 2rem;
    font-weight: 600;
}

.titulo-secao p {
    font-size: 1rem;
    color: #a0a0a0;
    margin-top: 2px;
}

.info-usuario {
    display: flex;
    align-items: center;
    gap: 20px;
}

.status-sistema {
    font-size: 0.8rem;
    color: #2ecc71;
    display: flex;
    align-items: center;
    gap: 8px;
    background: rgba(46, 204, 113, 0.1);
    padding: 6px 10px;
    border-radius: 20px;
}

.bolinha-status {
    width: 8px;
    height: 8px;
    background-color: #2ecc71;
    border-radius: 50%;
    box-shadow: 0 0 10px #2ecc71;
}

.avatar-perfil img {
    max-width: 50px;
    height: auto;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Cabeçalho interno do Main*/
.dashboard-topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Empurra os cards para baixo*/
    margin-bottom: 25px;
}

.dashboard-topo h2 {
    font-size: 1.5rem;
    color: #1a1a2e;
}

.dashboard-topo span {
    font-size: 0.9rem;
    color: #666;
    background: white;
    padding: 0px 10px;
    border-radius: 5px;
}

/* --- BARRA DE PESQUISA ---*/
.barra-pesquisa {
    margin-bottom: 20px;
}

.campo-pesquisa input {
    width: 100%;
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 0.9rem;
}

/* --- GRID DOS CARDS*/
.grid-cards {
    display: grid;
    /* A MÁGICA: Encaixa quantos couberem, mínimo 260px de largura */
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    /* Espaço entre os cards */
    gap: 20px;
}

/* --- GRID DOS CARDS*/
/* Estilo do Card de Clima */
.weather-card {
    background: white;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    /* Espaço em cima e embaixo (área vermelha) */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-left: 5px solid #E63946;
    /* Faixa vermelha para combinar com o tema */
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
}

.card-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.temp-destaque {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
}

#cidade-desc {
    text-transform: capitalize;
    /* Primeira letra maiúscula */
    color: #666;
    margin: 0;
}